@import url('https://fonts.googleapis.com/css2/?family=Open+Sans;wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 800px;
    height: 600px;
    background: #293447;
    border-radius: 5px;
}
.game-details{
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #E3F2FD;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:repeat(30, 1fr) / repeat(30, 1fr);
    background-color: #212837;

}

.food{
    background: red;
    width: 25px;
    height: 25px;
}

.head{
    background: #60CBFF;
}